services:
  mongodb:
    image: mongo:8.0
    container_name: erp-mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: erp
    networks:
      - erp-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: erp-backend
    restart: always
    ports:
      - "5201:5201"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=mongodb://mongodb:27017/erp
      - PORT=5201
    depends_on:
      - mongodb
    networks:
      - erp-network
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: erp-frontend
    restart: always
    ports:
      - "4201:4201"
    depends_on:
      - backend
    networks:
      - erp-network

volumes:
  mongodb_data:

networks:
  erp-network:
    driver: bridge
